
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap'); 

/* font-family: "Public Sans",sans-serif; */
/* font-family: "Outfit",sans-serif; */

*,*::before,*::after{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html, body{
    height: 100%;
    line-height: 1;
    font-size: 16px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
button{
    background-color: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
}
ul, ol, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
li{
    display: inline-block;
}
td{
    margin: 0;
    padding: 0; 
}
/* ================================== */
body{
    margin: 0;
    color: #fff;
}
.wrapper{
    width: 1920px;
    height: 900px
    min-height: 100%;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
}
.page{
    flex: 1 1 auto;
}


[class*="__container"]{
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
    margin: 0 300px;
}
/* @media (max-width: 1349.98){
    [class*="__container"]{
        max-width: 970px;
    }
}
@media (max-width: 990.98){
    [class*="__container"]{
        max-width: 750px;
    }
}
@media (max-width: 767.98){
    [class*="__container"]{
        max-width: none;
    }
} */
/* ================================== */
header{
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(/html/img/header/foun.jpg);

    /* background-image:url(../img/header/foun.jpg);
    height: 900px; 
    width: 1920px;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;  
    justify-content: space-between;  */
}
/* ================================== */


/* ================================== */

.header__container {
    min-height: 99px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 12px;

}
.menu-header__link{
    color: #fff;
    font-size: 16px;
    font-family: "Outfit",sans-serif;
    font-weight: 700;
    line-height: 15px;
}
.menu-header__link:hover{
    color: #fe461c;
}
.menu-header__list {
    display: flex;
    justify-content: space-between;
    width: 601px;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 5px;
    margin-right: 51px;  
}

.header__button {
    display: inline-block;
    background-color: #fe461c;
    height: 50px;
    width: 152px;
    border: 1px solid #fe461c;
    padding: 17px 14px 18px 15px;
    border-radius: 4px;
    text-align: center;
}
.header__button a{
    color: #fff;
    font-size: 16px;
    font-family: "Outfit",sans-serif;
    font-weight: 700;
    line-height: 15px;
    
}
/* ================================== */

.page__main {
    padding-top: 236px;
    background-image: url(/html/img/header/foun.jpg);
    padding-bottom: 225px;
}
.page-main__links{
    padding-left: 47px;
    padding-top: 75px;
    position: absolute;
}
.links-page-main__linked{
    background-color: #24263B;
    height: 50px;
    width: 50px;
    padding: 14px;
    margin-bottom: 15px;
}
.links-page-main__inst{
    background-color: #24263B;
    height: 50px;
    width: 50px;
    padding: 17px 15px;
    margin-bottom: 15px;
}
.links-page-main__behance{
    background-color: #24263B;
    height: 50px;
    width: 50px;
    padding: 17px 15px;
}

/* ==================================== */


.main-block__container {
    display: flex;
    position: relative;
}

.main-block__content {
    flex: 0 1 51%;

}
.ellipse{
    position: absolute;
    top: -95px;
    left: -90px;
}
.main-block__photo {
    flex: 0 1 49%;
    position: absolute;
    right: -87px;
    bottom: -120px;
}
.content-main-block__sub-title {
    font-size: 16px;
    font-family: "Public Sans",sans-serif;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 2px;
    margin-bottom: 16px;
    text-transform: capitalize;

}
.content-main-block__title {
    font-size: 64px;
    font-family: "Outfit",sans-serif;
    font-weight: 600;
    line-height: 72px;
}
.content-main-block__title span{
    color: #fe461c;
}
.content-main-block__text {
    margin-top: 31px;
    font-size: 16px;
    text-align: left;
    font-family: "Public Sans",sans-serif;
    font-weight: 500;
    line-height: 30px;
    max-width: 521px;
}
.content-main-block__btm {
    margin-top: 36px;
    max-width: 343px;
    display: flex;
    justify-content: space-between;
}

.content-main-block-btm__left {
    display: inline-block;
    width: 160px;
    height: 50px;
    color: #fff;
    font-size: 16px;
    font-family: "Outfit",sans-serif;
    font-weight: 700;
    line-height: 15px;
    border-radius: 4px;
    border: 2px solid #fff;
    text-align: center;
    padding: 17px 18px 18px 18px;
}
.content-main-block-btm__left:hover{
    background-color: #fe461c;
    border: 2px solid #fe461c;
}
.content-main-block-btm__right {
    display: inline-block;
    width: 160px;
    height: 50px;
    color: #fff;
    font-size: 16px;
    font-family: "Outfit",sans-serif;
    font-weight: 700;
    line-height: 15px;
    border-radius: 4px;
    border: 2px solid #fff;
    text-align: center;
    padding: 17px 18px 18px 18px;
}
.content-main-block-btm__right:hover{
    background-color: #fe461c;
    border: 2px solid #fe461c;
}
/* ================================== */
    .page__about {
        background-color: #24263B;
        padding-top: 175px;
        padding-bottom: 34px;
    }
    .about-block__container {
        display: flex;
    }
    .about-block__img{
        flex: 0 1 50%;
        padding-top: 96px;
    }
    .about-block__content {
        flex: 0 1 50%;
        padding-left: 59px;
    }
    .content-about-block {
    }
    .content-about-block__title {
        max-width: 120px;
    }
    /* ================================== */
    .section__title {
        font-size: 16px;
        font-family: "Outfit",sans-serif;
        font-weight: 600;
        line-height: 12px;
        letter-spacing: 2px;
        text-transform: capitalize;
        text-align: left;
        padding: 12px 14px;
        margin: 0;
        border-radius: 4px;
        box-shadow: 0 0 24px 0 rgba(15,16,24,.42);
    }
    /* ================================== */
    .content-about-block__name {
        font-size: 36px;
        font-family: "Outfit",sans-serif;
        font-weight: 600;
        line-height: 48px;
        text-transform: capitalize;
        margin-top: 19px;
        margin-bottom: 15px;
    }
    .content-about-block__text {
        font-size: 16px;
        text-align: left;
        font-family: "Public Sans",sans-serif;
        font-weight: 300;
        line-height: 26px;
        margin-bottom: 20px;
    }
    .content-about-block__table {
        display: flex;
        justify-content: space-between;
        max-width: 536px;
        margin-bottom: 38px;
    }

    .table-content-about-block__first {
        width: 244px;
        height: 182px;
        text-align: left;
        display: flex;
        justify-content: space-between;
    }
    .table-content-about-block__first td, .table-content-about-block__second td{
        font-size: 16px;
        font-family: "Outfit",sans-serif;
        font-weight: 500;
        line-height: 26px;
    }
    .about__table-left {
        font-size: 16px;
        font-family: "Outfit",sans-serif;
        font-weight: 500;
        line-height: 26px;
        width: 65px;
    }
    .about__table-right {
        font-size: 16px;
        font-family: "Public Sans",sans-serif;
        font-weight: 300;
        line-height: 26px;
        padding-left: 4px;
    }

    .able-content-about-block__second {
        width: 240px;
        height: 182px;
        text-align: left;
        display: flex;
        justify-content: space-between;
    }
    .about__table-left-td {
        font-size: 16px;
        font-family: "Outfit",sans-serif;
        font-weight: 500;
        line-height: 26px;
        width: 65px;
        padding-right: 5px;
    }
    .about-block__content a{
        display: inline-block;
        background-color: #fe461c;
        height: 50px;
        width: 152px;
        border: 1px solid #fe461c;
        padding: 17px 14px 18px 15px;
        border-radius: 4px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        font-family: "Outfit",sans-serif;
        font-weight: 700;
        line-height: 15px;
    }

/* ================================== */
.page__portfolio {
    padding-top: 120px;
    background-image: url(/html/img/header/foun.jpg);
    padding-bottom: 119px;
}

.portfolio-block__container {
}
.portfolio-block__title {
    max-width: 120px;
    margin: 0 auto;
}
.portfolio-block__sub-title {
    text-transform: capitalize;
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    font-family: "Outfit",sans-serif;
    font-weight: 700;
    line-height: 48px;
    padding-top: 17px;   
}
.portfolio-block__menu {
}
.menu-portfolio-block__list {
    display: flex;
    justify-content: space-between;
    width: 521px;
    max-width: auto;
    margin: 0 auto;
    margin-top: 54px;
    text-align: left;
    margin-bottom: 0
}
.menu-portfolio-block__item {
}
.menu-portfolio-block__link {
    color: #fff;
    font-size: 16px;
    text-align: left;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
}
.portfolio-block__photo {
    display: flex;
    /* justify-content: start; */
    flex-wrap: wrap ;
    margin-top: 36px;
    /* height: auto;
    max-height: 828px;
    width: auto;
    max-width: 1320px; */
}

.portfolio-block__photo-1 {
    margin-right: 24px;
    

}
.photo-1-portfolio-block__top, .photo-2-portfolio-block__bott, .photo-3-portfolio-block__top {
    
    height: 260px;
    width: 414px;
    background-color: #D9D9D9;
    border-radius: 8px;
    margin-bottom: 24px;
}
.photo-1-portfolio-block__bott, .photo-2-portfolio-block__top, .photo-3-portfolio-block__bott {
    height: 544px;
    width: 414px;
    background-color: #D9D9D9;
    border-radius: 8px;
    margin-bottom: 24px;
}
.portfolio-block__photo-2 {
    margin-right: 23px;
}
.photo-2-portfolio-block__top{
    position: relative;
    
}
.photo-2-portfolio-block-top__inscription{
    position: absolute;
    bottom: 28px;
}
.photo-2-portfolio-block-top__title{
    color: #fff;
    font-size: 24px;
    text-align: left;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    line-height: 30px;
}
.photo-2-portfolio-block-top__text{
    color: #fff;
    font-size: 16px;
    text-align: left;
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    line-height: 15px;
    margin-top: 15px;
}

/* ================================== */

.page__whychooseus {
    background-color: #24263B;
    padding: 120px 0;
}

.wychooseus-block__container {

}

.wychooseus-block__title {
    max-width: 173px;
    margin: 0 auto;
}

.wychooseus-block__sub-title {
    margin-top: 17px;
    font-size: 36px;
    text-align: center;
    font-family: "Outfit",sans-serif;
    font-weight: 700;
    line-height: 48px;
}

.wychooseus-block__services {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    

}


.services-wychooseus-block__subblock-1,  
.services-wychooseus-block__subblock-2, 
.services-wychooseus-block__subblock-3{
    width: 300px;
    height: 360px;
    background-color: #1F2235;
    margin-right: 30px;
}
.services-wychooseus-block__subblock-4{
    width: 300px;
    height: 360px;
    background-color: #1F2235;
}


.subblock-1-services-wychooseus-block__icon, 
.subblock-2-services-wychooseus-block__icon,
.subblock-3-services-wychooseus-block__icon,
.subblock-4-services-wychooseus-block__icon {
    margin: 41px 0 26px 25px;
}

.subblock-1-services-wychooseus-block__title, 
.subblock-2-services-wychooseus-block__title, 
.subblock-3-services-wychooseus-block__title, 
.subblock-4-services-wychooseus-block__title {
    color: #fff;
    font-size: 20px;
    font-family: "Outfit",sans-serif;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    margin: 0 0 27px 30px;
}

.subblock-1-services-wychooseus-block__text, 
.subblock-2-services-wychooseus-block__text, 
.subblock-3-services-wychooseus-block__text, 
.subblock-4-services-wychooseus-block__text {
    color: #fff;
    font-size: 16px;
    text-align: left;
    font-family: "Public Sans",sans-serif;
    font-weight: 300;
    line-height: 24px;
    margin: 0 35px 37px 30px;

}

.subblock-1-services-wychooseus-block__btn,
.subblock-2-services-wychooseus-block__btn,
.subblock-3-services-wychooseus-block__btn,
.subblock-4-services-wychooseus-block__btn {
    margin-left: 46px;
}

.btn-subblock-1-services-wychooseus-block,
.btn-subblock-2-services-wychooseus-block,
.btn-subblock-3-services-wychooseus-block,
.btn-subblock-4-services-wychooseus-block {
    display: inline-block;
    width: 45px;
    height: 45px;
    color: #fff;
    font-size: 16px;
    font-family: "Outfit",sans-serif;
    font-weight: 400;
    line-height: 18px;
    border-radius: 100%;
    text-align: center;
    padding: 15px 15px 14px 16px;
    box-shadow: 0 0 24px 0 rgba(15,16,24,.42);
    background-color: #24263B;
}
.btn-subblock-1-services-wychooseus-block:hover,
.btn-subblock-2-services-wychooseus-block:hover,
.btn-subblock-3-services-wychooseus-block:hover,
.btn-subblock-4-services-wychooseus-block:hover{
    background-color: #fe461c;
}
/* ====================================== */
.page__resume {
    padding-top: 120px;
    background-image: url(/html/img/header/foun.jpg);
    padding-bottom: 36px;
}

.resume-block__container {
}

.resume-block__title {
    max-width: 97px;
    margin: 0 left;
    margin-bottom: 16px;
}
.resume-block__sub-title {
    margin: 0 left;
    color: #fff;
    font-size: 36px;
    text-align: left;
    font-family: "Outfit",sans-serif;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 47px;
}

.resume-block__menu {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 39px;
}

.menu-resume-block__item {
    padding: 10px 20px;
    background-color: #24263B;
    margin-right: 20px;
    box-shadow: 0 0 24px 0 rgba(15,16,24,.42);
    border-radius: 4px;
}
.menu-resume-block__item:hover {
    background-color: #fe461c;
}


.menu-resume-block__link {
    color: #fff;
    font-size: 16px;
    font-family: "Outfit",sans-serif;
    font-weight: 600;
    line-height: 12px;

}

.resume-block__statistics {
    position: relative;
    margin-bottom: 80px;
}

.statistics-resume-block__schedule {
    max-width: 610px;
}

.schedule-statistics-resume-block__first {
}

.first-schedule-statistics-resume-block__text, .second-schedule-statistics-resume-block__text, .third-schedule-statistics-resume-block__text, .fourth-schedule-statistics-resume-block__text {
    color: #fff;
    font-size: 20px;
    text-align: left;
    font-family: "Outfit",sans-serif;
    font-weight: 600;
    line-height: 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-right: 10px;
}
.first-schedule-statistics-resume-block__graphics, .second-schedule-statistics-resume-block__graphics, .third-schedule-statistics-resume-block__graphics, .fourth-schedule-statistics-resume-block__graphics  {
    height: 18px;
    background-color: #fff;
    border-radius: 300px;
    margin-bottom: 43px;
}

.graphics-first-schedule-statistics-resume-block__left {
    max-width: 541px;
    height: 18px;
    background-color: #fe461c;
    border-radius: 300px;
}
.graphics-second-schedule-statistics-resume-block__left{
    max-width: 496px;
    height: 18px;
    background-color: #fe461c;
    border-radius: 300px;
}
.graphics-third-schedule-statistics-resume-block__left{
    max-width: 429px;
    height: 18px;
    background-color: #fe461c;
    border-radius: 300px;
}
.graphics-fourth-schedule-statistics-resume-block__left{
    max-width: 359px;
    height: 18px;
    background-color: #fe461c;
    border-radius: 300px;
}
.resume-block__statistics img{
    position: absolute;
    left: 680px;
    bottom: -80px;
}
/* =============================================== */

.page__testimonial {
    background-color: #24263B;
    padding: 120px 0 232px 0;
}

.testimonial-block__container {
}

.testimonial-block__title {
    max-width: 135px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.testimonial-block__sub-title {
    color: #fff;
    font-size: 36px;
    text-align: center;
    font-family: "Outfit",sans-serif;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 49px;
}

.testimonial-block__feedback {
    display: flex;
    flex-wrap: wrap;
}


.feedback-testimonial-block__firstclient, .feedback-testimonial-block__secondclient {
    max-width: 410px;
    padding: 41px 30px 29px 42px;
    background-image: url(/html/img/header/foun.jpg);
    margin-right: 24px;
    position: relative;

}


.firstclient-feedback-testimonial-block__name, .secondclient-feedback-testimonial-block__name, .thirdclient-feedback-testimonial-block__name  {
    color: #fff;
    font-size: 24px;
    font-family: "Outfit",sans-serif;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 15px;
}

.firstclient-feedback-testimonial-block__company, .secondclient-feedback-testimonial-block__company,  .thirdclient-feedback-testimonial-block__company{
    color: #fff;
    font-size: 16px;
    font-family: "Public Sans",sans-serif;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 15px;
    border-bottom: 1px solid#fff;
    padding-bottom: 14px;
    max-width: 290px;
}

.firstclient-feedback-testimonial-block__text, .secondclient-feedback-testimonial-block__text, .thirdclient-feedback-testimonial-block__text  {
    color: #fff;
    font-size: 16px;
    text-align: left;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    line-height: 26px;
}

.firstclient-feedback-testimonial-block__marks, .secondclient-feedback-testimonial-block__marks, .thirdclient-feedback-testimonial-block__marks {
    position: absolute;
    left: 290px;
    top: 40px;
}

.firstclient-feedback-testimonial-block__triangel, .secondclient-feedback-testimonial-block__triangel,.thirdclient-feedback-testimonial-block__triangel {
    position: absolute;
    left: 0px;
    bottom: -44px;
}

.firstclient-feedback-testimonial-block__circle, .secondclient-feedback-testimonial-block__circle, .thirdclient-feedback-testimonial-block__circle {
    position: absolute;
    left: 2px;
    bottom: -115px;
}

.feedback-testimonial-block__thirdclient {
    max-width: 410px;
    padding: 41px 45px 29px 42px;
    background-image: url(/html/img/header/foun.jpg);
    position: relative;
}

/* ============================================ */

.page__blog {
    padding: 120px 0;
    background-image: url(/html/img/header/foun.jpg);
}

.blog-block__container {
}

.blog-block__title {
    max-width: 115px;
    margin: 0 auto;
    margin-bottom: 22px;
}

.blog-block__sub-title {
    margin: 0 auto;
    color: #fff;
    font-size: 36px;
    text-align: center;
    font-family: "Outfit",sans-serif;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 61px;

}

.blog-block__posts {
    display: flex;
    flex-wrap: wrap;
}


.posts-blog-block__first, .posts-blog-block__second {
    max-width: 405px;
    margin-right: 24px;
}
.posts-blog-block__third {
    max-width: 405px;
    margin-right: 24px;
}
.first-posts-blog-block__photo, .second-posts-blog-block__photo, 
.third-posts-blog-block__photo {
    background-color: #fff;
    border-radius: 8px;
    width: 405px;
    height: 315px;
    margin-bottom: 26px;
}

.first-posts-blog-block__statistics, .second-posts-blog-block__statistics, .third-posts-blog-block__statistics {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 23px;
}

.statistics-first-posts-blog-block__user, .statistics-second-posts-blog-block__user, .statistics-third-posts-blog-block__user {
    display: flex;
    flex-wrap: wrap;
}
.user-statistics-first-posts-blog-block__icon, .user-statistics-second-posts-blog-block__icon, .user-statistics-third-posts-blog-block__icon{
    margin-right: 9px;
}
.user-statistics-first-posts-blog-block__name, .user-statistics-second-posts-blog-block__name, .user-statistics-third-posts-blog-block__name{
    margin-right: 18px;
    color: #fff;
    font-size: 16px;
    font-family: "Public Sans",sans-serif;
    font-weight: 500;
    line-height: 16px;
}

.statistics-first-posts-blog-block__likes, .statistics-second-posts-blog-block__likes, .statistics-third-posts-blog-block__likes {
    display: flex;
    flex-wrap: wrap;
}
.likes-statistics-first-posts-blog-block__icon, .likes-statistics-second-posts-blog-block__icon, .likes-statistics-third-posts-blog-block__icon{
    margin-right: 9px;
}
.likes-statistics-first-posts-blog-block__name, .likes-statistics-second-posts-blog-block__name, .likes-statistics-third-posts-blog-block__name{
    margin-right: 18px;
    color: #fff;
    font-size: 16px;
    font-family: "Public Sans",sans-serif;
    font-weight: 500;
    line-height: 12px;
}

.statistics-first-posts-blog-block__view, .statistics-second-posts-blog-block__view, .statistics-third-posts-blog-block__view {
    display: flex;
    flex-wrap: wrap;
}
.view-statistics-first-posts-blog-block__icon, .view-statistics-second-posts-blog-block__icon, .view-statistics-third-posts-blog-block__icon{
    margin-right: 10px;
}
.view-statistics-first-posts-blog-block__name, .view-statistics-second-posts-blog-block__name, .view-statistics-third-posts-blog-block__name{
    margin-right: 18px;
    color: #fff;
    font-size: 16px;
    font-family: "Public Sans",sans-serif;
    font-weight: 500;
    line-height: 15px;
}

.first-posts-blog-block__title, .second-posts-blog-block__title, .third-posts-blog-block__title {
    color: #fff;
    font-size: 24px;
    text-align: left;
    font-family: "Outfit",sans-serif;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 10px;
}

.first-posts-blog-block__text, .second-posts-blog-block__text, .third-posts-blog-block__text {
    color: #fff;
    font-size: 16px;
    text-align: left;
    font-family: "Public Sans",sans-serif;
    font-weight: 300;
    line-height: 24px;
}
/* ========================================= */
.page__newsletter {
    background-color: #24263B;
    padding: 120px 0;
}

.newsletter-block__container {
}

.newsletter-block__subscription {
    background-image: url(/html/img/header/foun.jpg);
    display: flex;
    flex-wrap: wrap;
}


.subscription-newsletter-block__text {
    padding: 130px 0 130px 80px;
}


.text-subscription-newsletter-block__header {
    color: #fff;
    font-size: 24px;
    font-family: "Public Sans",sans-serif;
    font-weight: 400;
    margin-bottom: 9px;
}

.text-subscription-newsletter-block__main {
    color: #fff;
    font-size: 55px;
    text-align: left;
    font-family: "Outfit",sans-serif;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 12px;
}

.text-subscription-newsletter-block__footer {
    color: #fff;
    font-size: 18px;
    text-align: left;
    font-family: "Public Sans",sans-serif;
    font-weight: 400;
}



.subscription-newsletter-block__subscribe {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 165px 50px 165px 140px;

}


.subscribe-subscription-newsletter-block__input {


}
.subscribe-subscription-newsletter-block__input input::placeholder{
    color: #9da1b4;
    font-size: 16px;
    text-align: left;
    font-family: "Outfit",sans-serif;
    font-weight: 500;
    padding-left: 20px;
}
.subscribe-subscription-newsletter-block__input input{
    width: 550px;
    height: 60px;
    border-radius: 80px;
}

.subscribe-subscription-newsletter-block__btm {
    width: 190px;
    height: 60px;
    border-radius: 80px;
    background-color: #fe461c;
    text-align: center;
    padding: 23px 53px 22px 54px;
    position: absolute;
    left: 361px;
    

}
.subscribe-subscription-newsletter-block__btm a{
    color: #fff;
    font-size: 16px;
    font-family: "Outfit",sans-serif;
    font-weight: 700;
    line-height: 15px;

}
/* ========================================== */
.page__contact {
    padding: 120px 0;
    background-image: url(/html/img/header/foun.jpg);
}

.contact-block__container {
    padding: 0 76px;
}

.contact-block__title {
    max-width: 133px;
    margin: 0 auto;
    padding-left: 29px;
    margin-bottom: 19px;
}

.contact-block__sub-title {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 36px;
    font-family: "Outfit",sans-serif;
    font-weight: 00;
    line-height: 50px;
    margin-bottom: 46px;
}

.contact-block__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.info-contact-block__contact-details {
    width: 370px;

}

.contact-details-info-contact-block__phone {
    background-color: #24263B;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 8px;
    max-width: 368px;
    height: 117px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.phone-contact-details-info-contact-block__icon img{
    padding: 22px;
}
.phone-contact-details-info-contact-block__icon  {
    box-shadow: 0 0 24px 0 rgba(15,16,24,.42);
    border-radius: 100%;
    height: 70px;
    width: 70px;
    margin-left: 30px;
    margin-top: 24px;
    margin-right: 19px;
}
.phone-contact-details-info-contact-block__data {
    margin: 18px 25px 17px 0px;
}
.data-phone-contact-details-info-contact-block__text {
    color: #fff;
    font-size: 24px;
    font-family: "Outfit",sans-serif;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 8px;
}
.data-phone-contact-details-info-contact-block__number {
    color: #fff;
    font-size: 16px;
    text-align: left;
    font-family: "Public Sans",sans-serif;
    font-weight: 300;
    line-height: 24px;
}

/* === */


.contact-details-info-contact-block__email {
    background-color: #24263B;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 8px;
    max-width: 368px;
    height: 117px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.email-contact-details-info-contact-block__icon img{
    padding: 26px 22px;
}
.email-contact-details-info-contact-block__icon {
    box-shadow: 0 0 24px 0 rgba(15,16,24,.42);
    border-radius: 100%;
    height: 70px;
    width: 70px;
    margin-left: 31px;
    margin-top: 24px;
    margin-right: 19px;
}
.email-contact-details-info-contact-block__data {
    margin: 18px 42px 17px 0px;
}
.data-email-contact-details-info-contact-block__text {
    color: #fff;
    font-size: 24px;
    text-align: left;
    font-family: "Outfit",sans-serif;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 6px;
}
.data-email-contact-details-info-contact-block__address {
    color: #fff;
    font-size: 16px;
    text-align: left;
    font-family: "Public Sans",sans-serif;
    font-weight: 300;
    line-height: 24px;
}

/* === */

.contact-details-info-contact-block__office {
    background-color: #24263B;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 8px;
    max-width: 368px;
    height: 117px;
    display: flex;
    justify-content: space-between;
}
.office-contact-details-info-contact-block__icon img{
    padding: 19px 23px;
}
.office-contact-details-info-contact-block__icon {
    box-shadow: 0 0 24px 0 rgba(15,16,24,.42);
    border-radius: 100%;
    height: 70px;
    width: 70px;
    margin-left: 31px;
    margin-top: 24px;
    margin-right: 19px;
}
.office-contact-details-info-contact-block__data {
    margin: 20px 14px 19px 0px;
}
.data-office-contact-details-info-contact-block__text {
    color: #fff;
    font-size: 24px;
    text-align: left;
    font-family: "Outfit",sans-serif;
    font-weight: 600;
    margin-bottom: 4px;
}
.data-office-contact-details-info-contact-block__address {
    color: #fff;
    font-size: 16px;
    text-align: left;
    font-family: "Public Sans",sans-serif;
    font-weight: 300;
    line-height: 24px;
}

/* === */

.info-contact-block__massage {
    width: 700px;
}


.massage-info-contact-block__text {
    color: #fff;
    font-size: 24px;
    font-family: "Outfit",sans-serif;
    font-weight: 600;
    line-height: 30px;
}

.massage-info-contact-block__input {
    margin-top: 28px;
}


.input-massage-info-contact-block__header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
}
.header-input-massage-info-contact-block__name input::placeholder{
        color: #7b7071;
        font-size: 16px;
        font-family: "Public Sans",sans-serif;
        font-weight: 300;
        padding: 17px 0px 12px 29px;
}
.header-input-massage-info-contact-block__name input {
    background-color: #24263B;
    width: 335px;
    height: 56px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 8px;
    margin-right: 30px;
}
.header-input-massage-info-contact-block__email input::placeholder{
    color: #7b7071;
    font-size: 16px;
    font-family: "Public Sans",sans-serif;
    font-weight: 300;
    padding: 17px 0px 12px 29px;
}
.header-input-massage-info-contact-block__email input {
    background-color: #24263B;
    width: 335px;
    height: 56px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 8px;
}
.input-massage-info-contact-block__footer input::placeholder{
    color: #7b7071;
    font-size: 16px;
    font-family: "Public Sans",sans-serif;
    font-weight: 300;
    position: absolute;
    left: 32px;
    top: 15px;
}
.input-massage-info-contact-block__footer input{
    background-color: #24263B;
    width: 700px;
    height: 210px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 8px;
    position: relative;
    margin-bottom: 40px;
}

.massage-info-contact-block__btm {
    width: 220px;
    height: 56px;
    border-radius: 4px;
    background-color: #fe461c;
    text-align: center;
    padding: 21px 48px;
}
.massage-info-contact-block__btm a{
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-family: "Outfit",sans-serif;
    font-weight: 700;
    line-height: 15px;
}
.contact-block__map {  
}
/* ================================ */

.page__footer {
    background-color: #24263B;
    padding: 35px 0;
}
.footer-block__container {
}
.footer-block__text {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: "Outfit",sans-serif;
    font-weight: 400;
}
